<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Enter OTP</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Enter OTP" name="number" type="number" autofocus [(ngModel)]="otp"  (keyup.enter)="onOTPEnter()"/>
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <button class="btn btn-lg btn-success btn-block" (click)="onOTPEnter()">ok</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
