/* For Firefox */
.currency-select{
    background: #fff;
    position: relative;
}
.currency-select::after{
    content: '';
    position: absolute;
    top: 14px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 7px solid #7b7b7b;
}
.currency-select select{
    /* width:100px; */
    cursor: pointer;
    background: transparent;
}
.width-120{
    /* width:120px; */
}
.form-group {
    display: flex;
    align-items: center;
}
.pd-30{
    padding-top: 30px;
}
label {
    font-weight: 300;
     margin-bottom: 0;
}
.lead{
    margin-bottom: 0px;
}
.mb-30{
    margin-bottom: 30px;
}
.frame{
    border:1px solid #ccc;
    margin-top: 8px;
}
.submit-buttons{
    margin: 20px 0 20px;
}
.submit-buttons button{
    padding: 6px 25px;
}
.currency-details{
    display: table;
    width: 100%;
}
.text-left-small .text-right{
    text-align: left;
}
select{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

/*Fancy form css*/
.control-group {
display: inline-block;
vertical-align: top;
background: #fff;
text-align: left;
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
padding: 30px;
width: 200px;
height: 210px;
margin: 10px;
}
.control {
display: block;
position: relative;
padding-left: 30px;
margin-bottom: 15px;
cursor: pointer;
}
.control input {
position: absolute;
z-index: -1;
opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #ffffff;
    border: 1px solid #aaa;
}
.control--radio .control__indicator {
border-radius: 50%;
}
.control input:checked ~ .control__indicator {
    background: #44b5f7;
    border: 1px solid #44b5f7;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #44b5f7;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #9b9b9b;
}
.control--radio .control__indicator:after {
    left: 4px;
    top: 4px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
background: #9b9b9b;
}
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.logout,.logout:hover{
  background: transparent;
  color: #337ab7;
  border: 0px solid;
  margin-top: 10px;
  margin-right:18px;
}

@-moz-document url-prefix() {
    input[type="radio"]{
        float: left;
        margin-top: 0px;
    }
}
@media only screen and (max-width: 991px) {
    .form-group {
        display: block;
    }
    .table-div{
        overflow: auto;
    }
    .table-div table{
        min-width: 470px;
    }
}
@media only screen and (max-width: 767px) {
    .form-group{
        display: block;
    }
    .lead{
        font-weight: bold;
        margin-bottom: 6px;
    }
    .mb-30 {
        margin-bottom: .5em;
    }
}
@media only screen and (max-width: 568px) {
    .submit-buttons{
        margin: 20px 0 0px;
    }
    .submit-buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}
