<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Username" name="email" type="email" autofocus [(ngModel)]="userName"  (keyup.enter)="onUsernameEnter()"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" value="" [(ngModel)]="password"  (keyup.enter)="onPasswordEnter()" />
              </div>
              <!-- <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" value="Remember Me" />Remember Me
                </label>
              </div> -->
              <!-- Change this to a button or input when using this as a form -->
              <button class="btn btn-lg btn-success btn-block" (click)="onLogin()">Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>