<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Baan Demo</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <button class='btn btn-primary logout' (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</button>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <div class="input-group custom-search-form">
              <input name="1" type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </li>

          <li>
            <a href="#">
              <i class="fa fa-table fa-fw"></i> Home</a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
              <li>
                <a href="#">Second Level Item</a>
              </li>
              <li>
                <a href="#">Second Level Item</a>
              </li>
              <li>
                <a href="#">Third Level
                  <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-third-level">
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                </ul>
                <!-- /.nav-third-level -->
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>

        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <div class="row pd-30">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Currency List
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-div mb-30">
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr>
                    <th>Currency Id</th>
                    <th>Description</th>
                    <th>Arabic Description</th>
                    <th>Currency Symbol</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let currency of availableCurencies" (click)="onCurrClick(currency)">
                    <td>{{ currency.curncyId }}</td>
                    <td>{{ currency.crncyDsc }}</td>
                    <td class="text-right">{{ currency.crncyDscA }}</td>
                    <td class="left">{{ currency.crncySym }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <form>
              <div class="row">
                <div class="currency-details mb-30">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                      <label for="currId" class="col-md-4 col-sm-12 col-form-label col-form-label-md">Currency Id</label>
                      <div class="col-md-8 col-sm-12">
                        <input name="1" type="text" class="form-control form-control-md width-120" id="currId" placeholder="Currency Id" [(ngModel)]="curncyId"
                          (keyup.enter)="onCurrencyId()">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="currDesc" class="col-md-4 col-sm-12 col-form-label col-form-label-md">Description</label>
                      <div class="col-md-8 col-sm-12">
                        <input name="2" type="text" class="form-control form-control-md" id="currDesc" placeholder="Description" [(ngModel)]="crncyDsc">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="currSym" class="col-md-4 col-sm-12 col-form-label col-form-label-md">Currency Symbol</label>
                      <div class="col-md-8 col-sm-12">
                        <input name="3" type="text" class="form-control form-control-md width-120" id="currSym" placeholder="Currency Symbol" [(ngModel)]="crncySym">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-sm-12 col-form-label col-form-label-md">Negative sign</label>
                      <div class="col-md-8 col-sm-12">
                        <div class="currency-select">
                          <select class="form-control form-control-md" [ngModelOptions]="{standalone: true}" required [(ngModel)]="negSymbl" (ngModelChange)='onNegSymbol($event)'>
                            <option *ngFor="let symbol of negSymbols" [value]="symbol">{{ symbol }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                      <label for="currArabicDesc" class="col-md-4 col-sm-12 col-form-label col-form-label-sm">Arabic Description</label>
                      <div class="col-md-8 col-sm-12">
                        <input name="4" type="text" class="form-control form-control-sm" id="currArabicDesc" placeholder="Arabic Description" [(ngModel)]="crncyDscA">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="display-symbols">
                <div class="row">
                  <div class="col-md-6">
                    <label class="lead">Display Symbols</label>
                    <div class="form-group frame">
                      <div class="col-md-6">
                        <div class="radio">
                          <label class="control control--radio">Before Amount
                            <input name="5" type="radio" name="displaysymbols" id="symbolBeforeAmt" value="option1" checked [value]="true" [(ngModel)]="ngsmampc">
                            <span class="control__indicator"></span>
                          </label>
                        </div>
                        <div class="radio">
                          <label class="control control--radio">After Amount
                            <input name="6" type="radio" name="displaysymbols" id="symbolAfterAmt" value="option2" [value]="false" [(ngModel)]="ngsmampc">
                            <span class="control__indicator"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="radio hidden-sm hidden-xs" style="visibility: hidden;">
                          <label class="control control--radio">Before Amount
                            <input name="7" type="radio" name="displaysymbols" id="symbolBeforeAmtHidden" value="option1" checked>
                            <span class="control__indicator"></span>
                          </label>
                        </div>
                        <div class="form-group">
                          <div class="checkbox">
                            <label class="control control--checkbox">
                              <input name="8" type="checkbox" value="" [(ngModel)]="inclSpac">Include Space
                              <span class="control__indicator"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 text-left-small">
                    <label class="lead">Seperator</label>
                    <div class="form-group row">
                      <label class="col-md-4 col-sm-12 col-form-label col-form-label-sm text-right">Decimal:</label>
                      <div class="col-md-8 col-sm-12">
                        <div class="currency-select">
                          <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" required [(ngModel)]="decimalSeprator" (ngModelChange)='onDeciamalSeptr($event)'>
                            <option *ngFor="let seperator of decimalSeparators" [value]="seperator">{{seperator}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-sm-12 col-form-label col-form-label-sm text-right">Thousands:</label>
                      <div class="col-md-8 col-sm-12">
                        <div class="currency-select">
                          <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" required [(ngModel)]="thousandsSeprator" (ngModelChange)='onThousandsSeptr($event)'>
                            <option *ngFor="let seperator of decimalSeparators" [value]="seperator">{{seperator}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="display-signs mb-30">
                <label class="lead">Display Sign</label>
                <div class="form-group row">
                  <div class="col-md-6">
                    <div class="col-md-12 frame">
                      <div class="radio">
                        <label class="control control--radio">
                          <input name="9" type="radio" name="displaysign" id="signBeforeAmt" value="option1" checked [value]="true" [(ngModel)]="dispSign">Before Amount
                          <span class="control__indicator"></span>
                        </label>
                      </div>
                      <div class="radio">
                        <label class="control control--radio">
                          <input name="10" type="radio" name="displaysign" id="signAfterAmt" value="option2" [value]="false" [(ngModel)]="dispSign">After Amount
                          <span class="control__indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="currencyUnit" class="col-md-4 col-sm-12 col-form-label col-form-label-sm">Currency Unit</label>
                    <div class="col-md-8 col-sm-12">
                      <input name="11" type="text" class="form-control form-control-sm" id="currencyUnit" placeholder="Currency Unit" [(ngModel)]="curText1">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="subunitConnector" class="col-md-4 col-sm-12 col-form-label col-form-label-sm">Subunit Connector</label>
                    <div class="col-md-8 col-sm-12">
                      <input name="12" type="text" class="form-control form-control-sm" id="subunitConnector" placeholder="Subunit Connector" [(ngModel)]="curText2">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="currencySubunit" class="col-md-4 col-sm-12 col-form-label col-form-label-sm">Currency Subunit</label>
                    <div class="col-md-8 col-sm-12">
                      <input name="13" type="text" class="form-control form-control-sm" id="currencySubunit" placeholder="Currency Subunit" [(ngModel)]="curText3">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="currencyUnitArabic" class="col-md-5 col-sm-12 col-form-label col-form-label-md">Currency Unit Arabic</label>
                    <div class="col-md-7 col-sm-12">
                      <input name="14" type="text" class="form-control form-control-md" id="currencyUnitArabic" placeholder="Currency Unit Arabic" [(ngModel)]="curTextA1">
                    </div>

                  </div>
                  <div class="form-group row">
                    <label for="subunitConnectorArabic" class="col-md-5 col-sm-12 col-form-label col-form-label-md">Subunit Connector Arabic</label>
                    <div class="col-md-7 col-sm-12">
                      <input name="15" type="text" class="form-control form-control-md" id="subunitConnectorArabic" placeholder="Subunit Connector Arabic" [(ngModel)]="curTextA2">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="currencySubunitArabic" class="col-md-5 col-sm-12 col-form-label col-form-label-md">Currency Subunit Arabic</label>
                    <div class="col-md-7 col-sm-12">
                      <input name="16" type="text" class="form-control form-control-md" id="currencySubunitArabic" placeholder="Currency Subunit Arabic" [(ngModel)]="curTextA3" >
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-right submit-buttons">
                <button type="submit" class="btn btn-success" (click)="createCureency()">Save</button>
                <button type="reset" class="btn btn-default" (click)="onClear()">Clear</button>
              </div>

            </form>
            <!-- /.col-md-6 (nested) -->
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-md-12 -->
  </div>
  <!-- /.row -->
</div>
